<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDTPOTUSSAY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap">

</head>
<body>
    <div class="header_container">
        <h1 >Inspiration</h1>
    </div>
    <p class="about_text">What did the POTUS say was an idea inspired by the political commentator named Destiny,
     who mentioned the concept of testing whether people tied to a political party could even
      discern who said what?</p>

      <h1>Goal</h1>
       <p class="about_text">The goal of this project is to test whether people can discern pass who pass what executive order between Donald Trump and Joe Biden.</p>

       <div class="container" style="flex-direction: column; align-items: center;">
       <a class="header_button" href="/">Home</a>
       <a class="header_button" href="https://terrelldavis1224.github.io">My Website</a>
       
     </div>

</body>
</html>