<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDTPOTUSSAY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap">
</head>
<body>
    <div class="header_container">
        <a class="header_button" href="https://www.federalregister.gov/presidential-documents">Source</a>
        <a class="header_button" href="/about">About</a>
        <h1>What Does The POTUS Say?</h1>
    </div>
    <br>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <a class="header_button" href="/guess">Guess Executive order</a>
        <br>
        <a class="header_button" href="/history">Guess History</a>
    </div>

    <h1 class="star">★</h1>

    <!-- Container for image and text -->
    <div class="image-container">
        <img  src="{{ url_for('static', filename='img/x.png') }}" alt="Relevant Image">
        <h1  class="text-top">Build The Wall</h1>
        <h1  class="text-bottom"> Build Back Better</h1>
    </div>

    
</body>
</html>
